site_name: Linux 201
site_description: Linux 201 进阶教程
site_author: LUG @ USTC
site_url: https://201.ustclug.org/
repo_name: ustclug/Linux201-docs
repo_url: https://github.com/ustclug/Linux201-docs
copyright: Brought to you by <a href="https://lug.ustc.edu.cn/">LUG@USTC</a>. Available under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0 license</a>.

theme:
  name: material
  language: zh
  palette:
    - scheme: default
      media: "(prefers-color-scheme: light)"
      primary: deep purple
      accent: deep purple
      toggle:
        icon: material/weather-night
        name: 切换至深色模式
    - scheme: slate
      media: "(prefers-color-scheme: dark)"
      primary: purple
      accent: purple
      toggle:
        icon: material/weather-sunny
        name: 切换至浅色模式
  icon:
    logo: fontawesome/brands/linux
    repo: octicons/mark-github-16
  features:
    - content.code.annotate
    - content.code.copy
    - navigation.indexes
    - navigation.sections
    - navigation.top

markdown_extensions:
  - admonition
  - attr_list
  - footnotes
  - markdown.extensions.def_list
  - md_in_html
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      auto_append:
        - includes/man.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - toc:
      permalink: true

extra:
  social:
    - icon: octicons/globe-16
      link: https://lug.ustc.edu.cn/
    - icon: octicons/mark-github-16
      link: https://github.com/ustclug
  analytics:
    provider: google
    property: UA-160637954-1

extra_css:
  - css/extra.css

nav:
  - 欢迎: index.md
  - 章节编写指导: spec/writing.md
  - 贡献者: spec/contributors.md
  - 运维基础:
    - ops/index.md
    - 检查单: ops/checklist.md
    - 服务器介绍: ops/server.md
    - 包管理系统: ops/package.md
    - 服务与日志管理: ops/service.md
    - 存储系统:
      - ops/storage/index.md
      - 基础知识简介: ops/storage/intro.md
      - 分区与文件系统: ops/storage/filesystem.md
      - LVM: ops/storage/lvm.md
      - RAID: ops/storage/raid.md
      - 网络存储系统: ops/storage/network.md
      - 备份方案: ops/storage/backup.md
      - ZFS: ops/storage/zfs.md
    - 网络系统: ops/network.md
    - 网络服务实践:
      - ops/network-service/index.md
      - 隧道组网: ops/network-service/intranet.md
    - 数据库: ops/database.md
    - 问题调试: ops/debug.md
    - 虚拟化技术:
      - ops/virtualization/index.md
      - 基础知识简介: ops/virtualization/intro.md
      - 容器: ops/virtualization/container.md
      - QEMU/KVM: ops/virtualization/qemu-kvm.md
    - 用户账户系统: ops/account.md
    - 指标监控与告警: ops/monitor.md
    - 安全: ops/security.md
  - 开发速查手册:
    - dev/index.md
    - 编程语言概览: dev/language.md
    - 版本管理与合作: dev/git.md
    - SSH 使用技巧: dev/ssh.md
  - 高级内容:
    - advanced/index.md
    - CUDA 环境简介: advanced/cuda.md
    - Linux 桌面与窗口系统: advanced/desktop.md
    - ACL: advanced/acl.md
    - Caddy: advanced/caddy.md
    - Nmap: advanced/nmap.md
    - 守护进程: advanced/daemon.md
    - 超算: advanced/supercomputer.md
    - 网管交换机简介: advanced/switch.md
