mkdocs~=1.6.1
--find-links https://github.com/ustclug/mkdocs-material/releases/download/9.7.7%2Bustclug.2/mkdocs_material-9.7.7%2Bustclug.2-py3-none-any.whl
mkdocs-material==9.7.7+ustclug.2
Pillow~=12.0
jieba~=0.42
