mkdocs~=1.6.1
--find-links https://github.com/ustclug/mkdocs-material/releases/download/9.7.7%2Bustclug.6/mkdocs_material-9.7.7+ustclug.6-py3-none-any.whl#sha256=2d5fecd507ac142ec3ea90ab5ff5c6eb71727393c114959a2c7cbda4a332a05f
mkdocs-material==9.7.7+ustclug.6
Pillow~=12.0
jieba~=0.42
