mkdocs~=1.6.1
--find-links https://github.com/ustclug/mkdocs-material/releases/download/9.7.7%2Bustclug.3/mkdocs_material-9.7.7+ustclug.3-py3-none-any.whl#sha256=aebb5f97dbe4b5f405ab13ae11139b29538724cbbb5762dad069d22c4a751aa8
mkdocs-material==9.7.7+ustclug.3
Pillow~=12.0
jieba~=0.42
