:root {
  --md-admonition-icon--comment: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9 22a1 1 0 0 1-1-1v-3H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2h-6.1l-3.7 3.71c-.2.19-.45.29-.7.29H9Z"/></svg>');
  --md-admonition-icon--lab: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 22a3 3 0 0 1-3-3c0-.6.18-1.16.5-1.63L9 7.81V6a1 1 0 0 1-1-1V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1a1 1 0 0 1-1 1v1.81l5.5 9.56c.32.47.5 1.03.5 1.63a3 3 0 0 1-3 3H6m-1-3a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1c0-.21-.07-.41-.18-.57l-2.29-3.96L14 17l-5.07-5.07-3.75 6.5c-.11.16-.18.36-.18.57m8-9a1 1 0 0 0-1 1 1 1 0 0 0 1 1 1 1 0 0 0 1-1 1 1 0 0 0-1-1Z"/></svg>');
}

.md-typeset {
  .admonition.comment,
  details.comment {
    border-color: rgb(0, 200, 83);
  }

  .comment > .admonition-title,
  .comment > summary {
    background-color: rgba(0, 200, 83, 0.1);

    &::before {
      background-color: rgb(0, 200, 83);
      -webkit-mask-image: var(--md-admonition-icon--comment);
              mask-image: var(--md-admonition-icon--comment);
    }
  }

  .admonition.lab,
  details.lab {
    border-color: rgb(255, 179, 77);
  }

  .lab > .admonition-title,
  .lab > summary {
    background-color: rgba(255, 179, 77, 0.1);

    &::before {
      background-color: rgb(255, 179, 77);
      -webkit-mask-image: var(--md-admonition-icon--lab);
              mask-image: var(--md-admonition-icon--lab);
    }
  }
}
