:root { --md-admonition-icon--comment: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9 22a1 1 0 0 1-1-1v-3H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2h-6.1l-3.7 3.71c-.2.19-.45.29-.7.29H9Z"/></svg>'); --md-admonition-icon--lab: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 22a3 3 0 0 1-3-3c0-.6.18-1.16.5-1.63L9 7.81V6a1 1 0 0 1-1-1V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1a1 1 0 0 1-1 1v1.81l5.5 9.56c.32.47.5 1.03.5 1.63a3 3 0 0 1-3 3H6m-1-3a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1c0-.21-.07-.41-.18-.57l-2.29-3.96L14 17l-5.07-5.07-3.75 6.5c-.11.16-.18.36-.18.57m8-9a1 1 0 0 0-1 1 1 1 0 0 0 1 1 1 1 0 0 0 1-1 1 1 0 0 0-1-1Z"/></svg>'); }

.md-typeset .admonition.comment, .md-typeset details.comment { border-color: #00c853; }

.md-typeset .comment > .admonition-title, .md-typeset .comment > summary { background-color: rgba(0, 200, 83, 0.1); }

.md-typeset .comment > .admonition-title::before, .md-typeset .comment > summary::before { background-color: #00c853; -webkit-mask-image: var(--md-admonition-icon--comment); mask-image: var(--md-admonition-icon--comment); }

.md-typeset .admonition.lab, .md-typeset details.lab { border-color: #ffb34d; }

.md-typeset .lab > .admonition-title, .md-typeset .lab > summary { background-color: rgba(255, 179, 77, 0.1); }

.md-typeset .lab > .admonition-title::before, .md-typeset .lab > summary::before { background-color: #ffb34d; -webkit-mask-image: var(--md-admonition-icon--lab); mask-image: var(--md-admonition-icon--lab); }

.red, .red-important { color: red !important; }

.darkred, .darkred-important { color: darkred !important; }

.orangered, .orangered-important { color: orangered !important; }

.green, .green-important { color: green !important; }

.limegreen, .limegreen-important { color: limegreen !important; }

:root { --md-code-font-family: Roboto Mono, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace !important; }

.mermaid { text-align: center; }

.md-typeset #references, .md-typeset .no-underline { margin-bottom: 0; padding-bottom: 0; border: none; }

.md-typeset h2 { padding-bottom: 0.2em; border-bottom: 1px solid #d3d3d3; }

.md-typeset h3 { padding-bottom: 0.2em; border-bottom: 1px dashed #d3d3d3; }

.md-typeset h4 { font-size: 1.17em; }

.md-typeset h5 { font-size: 1.08em; }

.md-typeset h6 { font-size: 1em; }

.md-typeset img { display: block; margin-left: auto; margin-right: auto; }

.md-typeset .img-inline { display: inline-block; vertical-align: text-bottom; }

.md-typeset .img-border { border: 1px solid black; }

.md-typeset kbd { box-shadow: 0 0 0 0.05rem var(--md-default-fg-color--lighter), 0 0.1rem 0 var(--md-default-fg-color--lighter), inset 0 -0.1rem 0.2rem var(--md-default-bg-color); }

.md-typeset .admonition, .md-typeset details { font-size: 0.9em; }

.md-typeset .md-typeset__table { display: block; margin-left: auto; margin-right: auto; }

.md-typeset .md-typeset__table > table { display: table; width: auto; margin: 0 auto; }

.md-typeset p.caption { text-align: center; font-size: 0.94em; color: grey; margin: -0.7em 0 0; }

.md-typeset .footnote hr { margin-top: 0.2em; }
